.modalOverlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--colors-background);
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.closeButton {
  position: absolute;
  bottom: 4px;
  right: 12px;
  font-size: 24px;
  cursor: pointer;
}