.container {
  position: relative;
  right: 20px;
}

.settingsIcon {
  cursor: pointer;
  color: var(--colors-accentText);
  transition: 0.3s ease;
}

.settingsIcon:hover {
  color: var(--colors-secondary);
}

.settingsIconActive {
  cursor: pointer;
  color: var(--colors-secondary);
  transition: 0.3s ease;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.settingContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.settingKey {
  width: 50px;
}

.checkbox {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
