.itemSelect {
  padding: 10px 15px;
  border: 1px solid var(--colors-primary);
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--colors-secondary);
  appearance: none;
  transition: 0.3s ease;
  color: var(--colors-defaultText);
  cursor: pointer;
}

.itemSelect:hover {
  border-color: var(--colors-primary);
  box-shadow: 0 0 5px var(--colors-primaryBorderShadow);
  outline: none;
}

.itemSelect:focus {
  border-color: var(--colors-primary);
  box-shadow: 0 0 5px var(--colors-primaryBorderShadow);
  outline: none;
}
